// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");

// Подключение шрифтов
@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("../fonts/helveticaneuecyr-light.eot");
	src: local("☺"), url("../fonts/helveticaneuecyr-light.woff") format("woff"),
		url("../fonts/helveticaneuecyr-light.ttf") format("truetype"),
		url("../fonts/helveticaneuecyr-light.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("../fonts/helveticaneuecyr-roman.eot");
	src: local("☺"), url("../fonts/helveticaneuecyr-roman.woff") format("woff"),
		url("../fonts/helveticaneuecyr-roman.ttf") format("truetype"),
		url("../fonts/helveticaneuecyr-roman.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("../fonts/helveticaneuecyr-bold.eot");
	src: local("☺"), url("../fonts/helveticaneuecyr-bold.woff") format("woff"),
		url("../fonts/helveticaneuecyr-bold.ttf") format("truetype"),
		url("../fonts/helveticaneuecyr-bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("../fonts/HelveticaNeueCyr-Black.eot");
	src: local("☺"), url("../fonts/HelveticaNeueCyr-Black.woff") format("woff"),
		url("../fonts/HelveticaNeueCyr-Black.ttf") format("truetype"),
		url("../fonts/HelveticaNeueCyr-Black.svg") format("svg");
	font-weight: 900;
	font-style: normal;
}

$maxWidth: 1366;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
////////////////////////////////////////////////////////////////////////////////////////////

.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	img {
		display: none;
	}
}

////////////////////////////////////////////////////////////////

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}
html,
body {
	height: 100%;
	font-family: "HelveticaNeueCyr";
}

.container {
	max-width: 1127px;
	margin: 0 auto;
	padding: 0 10px;
}

//////////////////////////////////  H E A D E R  ///////////////////////////////////////////////////////////////////

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	transition: all 1s ease 1.3s;
	transform: translate(0, -30%);
	opacity: 0;
	&_no {
		opacity: 1;
		transform: translate(0, 0);
	}
	&._active {
		opacity: 1;
		transform: translate(0, 0);
	}
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #191919;
		z-index: 2;
	}
	&__body {
		margin: 0 5px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 99px;
	}
	&__logo {
		position: relative;
		z-index: 3;
		flex: 0 0 143px;
		& img {
			max-width: 100%;
		}
	}
	&__burger {
		display: none;
	}
	&__menu {
		display: flex;
		& li {
			position: relative;
			z-index: 3;
			list-style: none;
			margin: 0 15px;
		}
	}

	&__link {
		font-size: 16px;
		line-height: 25px;
		letter-spacing: 0.01em;
		color: #ffffff;
		&:after {
			content: "";
			visibility: hidden;
			position: absolute;
			left: 0;
			width: 100%;
			height: 1.5px;
			bottom: -1px;
			background-color: #fcef48;
			animation-name: unline;
			animation-duration: 0.4s;
			animation-timing-function: ease;
			transition: all 0.4s ease 0s;
		}
		&:hover:after {
			visibility: visible;
			animation-name: line;
			animation-duration: 0.5s;
			animation-timing-function: ease;
		}
	}
	@keyframes line {
		0% {
			width: 0%;
		}
		100% {
			width: 100%;
		}
	}
	@keyframes unline {
		0% {
			width: 100%;
		}
		100% {
			width: 0%;
		}
	}
	&__wrap {
		position: relative;
		z-index: 3;
	}
	&__adress {
		margin: 0 0 13px 0;
		@include adaptiv-font(16, 12);
		letter-spacing: 0.01em;
		color: #ffffff;
		text-align: right;
	}
	&__phone {
		background: url(../img/phones/01_g.png) left no-repeat;
		padding: 0 0 0 25px;
		@include adaptiv-font(18, 12);
		font-weight: 700;
		letter-spacing: 0.01em;
		color: #ffff68;
		transition: all 0.5s ease 0s;
		&:hover {
			text-shadow: 3px 3px 15px #ffff68;
			transform: scale(1.1);
		}
		& a {
			color: #ffff68;
		}
	}
}
@media (max-width: 910px) {
	.header__burger {
		position: relative;
		z-index: 3;
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		order: 3;
		&:before {
			content: "";
			position: absolute;
			background-color: #ffff68;
			width: 100%;
			height: 1.5px;
			left: 0;
			top: 0;
			transition: all 0.3s ease 0s;
		}
		&:after {
			content: "";
			position: absolute;
			background-color: #ffff68;
			width: 100%;
			height: 2px;
			left: 0;
			bottom: 0;
			transition: all 0.3s ease 0s;
		}
		& span {
			content: "";
			position: absolute;
			background-color: #ffff68;
			width: 100%;
			height: 2px;
			left: 0;
			top: 9px;
			transition: all 0.3s ease 0s;
		}
	}
	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
		height: 1.5px;
	}
	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__burger.active span {
		transform: scale(0);
	}
	.header__body {
		height: 70px;
	}
	.header__logo {
		flex: 0 0 120px;
	}
	.header__menu {
		position: fixed;
		top: 0;
		left: -100%;
		padding: 70px 0 0 0;
		text-align: center;
		display: block;
		overflow: auto;
		width: 100%;
		height: 100vh;
		background-color: #000;
		opacity: 0.94;
		transition: all 0.5s ease 0s;
		& li {
			display: block;
			margin: 30px 0 0 0;
			&:hover:after {
				display: none;
			}
		}
	}
	.header__menu.active {
		left: 0;
	}
	.header__link {
		font-size: 30px;
		color: #ffff;
		&:hover:after {
			display: none;
		}
	}
	.header__wrap {
		order: 2;
		position: relative;
		z-index: 3;
		text-align: center;
	}
}
@media (max-width: 910px) {
	body.lock {
		overflow: hidden;
	}
}
@media (max-width: 768px) {
	.header__body {
		height: 50px;
	}
	.header__menu {
		padding: 60px 0 0 0;
		& li {
			margin: 40px 0 0 0;
		}
	}
	.header__logo {
		flex: 0 0 100px;
	}
	.header__adress {
		margin: 0 0 6px 0;
	}
}

@media (max-width: 500px) {
	.header__logo {
		flex: 0 0 90px;
	}
	.header__adress {
		margin: 0 0 4px 0;
	}
}

.content {
	flex: 1 1 auto;
}

//////////////////////////////  S L I D E R  ///////////////////////////////////

.slider {
	min-height: 100vh;
	display: flex;
	position: relative;
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.slick-arrow {
		font-size: 0;
	}
	@media (max-width: 768px) {
	}
}
.slick-list {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.slick-track {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.slick-slide {
	width: 100%;
	overflow: hidden;
	position: relative;
}

//////////////////////////  M A I N--I N F O///////////////////////////////
.main-info {
	position: absolute;
	top: 23%;
	left: 21%;
	@media (max-width: 1336px) {
		top: 0;
		left: 0;
		margin: 150px / 1336px * 100vw 0 0 223px / 1336px * 100vw;
	}
	@media (max-width: 910px) {
		margin: 200px / 1336px * 100vw 0 0 210px / 1336px * 100vw;
	}
	@media (max-width: 768px) {
		margin: 200px / 1336px * 100vw 0 0 180px / 1336px * 100vw;
	}
	@media (max-width: 600px) {
		margin: 250px / 1336px * 100vw 0 0 180px / 1336px * 100vw;
	}
	@media (max-width: 480px) {
		margin: 280px / 1336px * 100vw 0 0 130px / 1336px * 100vw;
	}
	@media (max-width: 430px) {
		margin: 240px / 1336px * 100vw 0 0 130px / 1336px * 100vw;
	}
	@media (max-width: 390px) {
		margin: 210px / 1336px * 100vw 0 0 130px / 1336px * 100vw;
	}
	@media (max-width: 382px) {
		margin: 260px / 1336px * 100vw 0 0 130px / 1336px * 100vw;
	}
	@media (max-height: 375px) {
		margin: 140px / 1336px * 100vw 0 0 130px / 1336px * 100vw;
	}
	@media (max-height: 320px) {
		margin: 180px / 1336px * 100vw 0 0 130px / 1336px * 100vw;
	}
}
.button {
	width: 149px;
	transition: transform 0.5s ease 0s;
	&:hover {
		transform: translate(0, 5px);
	}
	@media (max-width: 420px) {
		width: 120px;
	}
	& a {
		display: block;
		width: 149px;
		height: 44px;
		background-color: #fcef48;
		text-align: center;
		border-radius: 3px;
		@include adaptiv-font(17, 15);
		line-height: 47px;
		font-weight: 900;
		letter-spacing: 0.01em;
		color: #202020;
		transition: all 0.4s ease 0s;
		@media (max-width: 420px) {
			width: 120px;
			height: 40px;
			line-height: 40px;
		}
		&:hover {
			transform: scale(0.9);
		}
	}
}
.info {
	&__wrap {
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-family: "Montserrat";
		@include adaptiv-font(36, 22);
		line-height: 48px;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.01em;
		color: #ffffff;
		opacity: 0;
		transition: all 2.5s ease 0.6s;
		&._active {
			opacity: 1;
		}
		@media (max-width: 768px) {
			line-height: 38px;
		}
		@media (max-width: 768px) {
			line-height: 33px;
		}
		@media (max-width: 390px) {
			line-height: 35px;
			max-width: 300px;
		}
	}
	&__subtitle {
		margin: 37px / 1336px * 100vw 0 0 0;
		@include adaptiv-font(16, 14);
		line-height: 23px;
		letter-spacing: 0.01em;
		color: #ffffff;
		opacity: 0;
		transition: all 2.5s ease 0.6s;
		&._active {
			opacity: 1;
		}
		@media (max-width: 768px) {
			margin: 30px / 1336px * 100vw 0 0 0;
		}
		@media (max-width: 424px) {
			br {
				display: none;
			}
			max-width: 270px;
			line-height: 21px;
		}
		@media (max-width: 480px) {
			margin: 25px / 1336px * 100vw 0 0 0;
		}
	}
	&__button {
		transition: all 2.5s ease 0.6s;
		margin: 53px / 1336px * 100vw 0 0 0;
		opacity: 0;
		&._active {
			opacity: 1;
		}
		@media (max-width: 768px) {
			margin: 50px / 1336px * 100vw 0 0 0;
		}
		@media (max-width: 480px) {
			margin: 50px / 1336px * 100vw 0 0 0;
		}
	}
}

/////////////////////  M A I N--L I N K S/////////

.main-links {
	position: absolute;
	top: 32%;
	right: 14%;
	overflow: hidden;
	opacity: 0;
	transition: all 2.4s ease 0.5s;
	&._active {
		opacity: 1;
	}
	@media (max-width: 1336px) {
		top: 0;
		right: 0;
		margin: 305px / 1336px * 100vw 129px / 1336px * 100vw 0 0;
	}
	@media (max-height: 375px) {
		margin: 250px / 1336px * 100vw 129px / 1336px * 100vw 0 0;
	}
	@media (max-width: 768px) {
		display: none;
	}
	&__wrap {
		display: flex;
		flex-direction: column;
	}
	&__link {
		display: block;
		margin: 9px 0 9px 0;
		transition: all 0.4s ease 0s;
		&:hover {
			opacity: 0.7;
			transform: rotate(360deg);
		}
	}
}

////////////////////////  С A R D S  ////////////////////////////

.cards {
	position: absolute;
	@media (max-height: 452px) {
		display: none;
	}
	&_1 {
		transition: all 1s ease 1.3s;
		transform: translate(0, 30%);
		opacity: 0;
		top: 77%;
		left: 12%;
		@media (max-width: 1050px) {
			left: 6%;
		}
		@media (max-width: 950px) {
			left: 4%;
		}
		@media (max-width: 802px) {
			left: 3%;
		}
		@media (max-width: 768px) {
			top: 62%;
			left: 7%;
		}
		@media (max-width: 712px) {
			top: 57%;
			left: 28%;
		}
		@media (max-width: 620px) {
			top: 54%;
			left: 24%;
		}
		@media (max-width: 460px) {
			left: 20%;
		}
		@media (max-width: 424px) {
			top: 58%;
		}
		@media (max-width: 390px) {
			top: 60%;
			left: 16%;
		}
		@media (max-width: 382px) {
			top: 66%;
		}
		@media (max-width: 340px) {
			left: 14%;
		}
		@media (max-width: 320px) {
			top: 62%;
			left: 11%;
		}
	}
	&_1._active {
		transform: translate(0, 0);
		opacity: 1;
	}
	&_2 {
		transition: all 1s ease 1.3s;
		transform: translate(0, 30%);
		opacity: 0;
		top: 77%;
		left: 37%;
		@media (max-width: 950px) {
			left: 35.5%;
		}
		@media (max-width: 802px) {
			left: 35%;
		}
		@media (max-width: 768px) {
			top: 62%;
			left: 54%;
		}
		@media (max-width: 712px) {
			top: 70%;
			left: 28%;
		}
		@media (max-width: 620px) {
			top: 67%;
			left: 24%;
		}
		@media (max-width: 460px) {
			left: 20%;
		}
		@media (max-width: 424px) {
			top: 71%;
		}
		@media (max-width: 390px) {
			top: 73%;
			left: 16%;
		}
		@media (max-width: 382px) {
			top: 79%;
		}
		@media (max-width: 340px) {
			left: 14%;
		}
		@media (max-width: 320px) {
			top: 75%;
			left: 11%;
		}
	}
	&_2._active {
		transform: translate(0, 0);
		opacity: 1;
	}
	&_3 {
		transition: all 1s ease 1.3s;
		transform: translate(0, 30%);
		opacity: 0;
		top: 77%;
		left: 62%;
		@media (max-width: 1050px) {
			left: 68%;
		}
		@media (max-width: 950px) {
			left: 67%;
		}
		@media (max-width: 768px) {
			top: 80%;
			left: 30%;
		}
		@media (max-width: 712px) {
			top: 83%;
			left: 28%;
		}
		@media (max-width: 620px) {
			top: 80%;
			left: 24%;
		}
		@media (max-width: 460px) {
			left: 20%;
		}
		@media (max-width: 424px) {
			top: 84%;
		}
		@media (max-width: 390px) {
			top: 86%;
			left: 16%;
		}
		@media (max-width: 382px) {
			top: 92%;
		}
		@media (max-width: 340px) {
			left: 14%;
		}
		@media (max-width: 320px) {
			top: 88%;
			left: 11%;
		}
	}
	&_3._active {
		transform: translate(0, 0);
		opacity: 1;
	}
	&__box {
		margin: 0 13.5px;
		width: 350px;
		height: 116px;
		border: 2px solid #fff;
		display: flex;
		align-items: center;
		@media (max-width: 1440px) {
			width: 300px;
		}
		@media (max-width: 1260px) {
			width: 280px;
		}
		@media (max-width: 1150px) {
			width: 250px;
		}
		@media (max-width: 1024px) {
			width: 235px;
		}
		@media (max-width: 850px) {
			width: 215px;
			height: 120px;
		}
		@media (max-width: 768px) {
			width: 270px;
			height: 80px;
		}
		@media (max-width: 480px) {
			height: 70px;
		}
		@media (max-width: 520px) {
			width: 230px;
		}
		@media (max-width: 405px) {
			width: 215px;
		}
		@media (max-width: 382px) {
			height: 60px;
			width: 215px;
		}
	}
	&__item {
		padding: 0 13.5px;
	}
	&__body {
		display: flex;
		flex-direction: column;
		padding: 0 5px 0 0;
	}
	&__title {
		@include adaptiv-font(18, 14);
		font-weight: 900;
		letter-spacing: 0.01em;
		color: #ffffff;
		@media (max-width: 850px) {
			line-height: 19px;
		}
		@media (max-width: 850px) {
			line-height: 16px;
		}
		@media (max-width: 480px) {
			line-height: 15px;
		}
		@media (max-width: 382px) {
			line-height: 6px;
			margin: 5px 0 0 0;
		}
	}
	&__subtitle {
		margin: 12px 0 0 0;
		@include adaptiv-font(15, 12);
		line-height: 21px;
		font-weight: 300;
		letter-spacing: 0.01em;
		color: #ffffff;
		@media (max-width: 1024px) {
			margin: 9px 0 0 0;
		}
		@media (max-width: 768px) {
			margin: 6px 0 0 0;
			line-height: 18px;
		}
		@media (max-width: 850px) {
			margin: 5px 0 0 0;
			line-height: 17px;
		}
		@media (max-width: 480px) {
			margin: 2px 0 0 0;
			line-height: 14px;
		}
		@media (max-width: 382px) {
			margin: 5px 0 0 0;
			line-height: 12px;
		}
		&_2 {
			padding: 0 40px 0 0;
			@media (max-width: 1150px) {
				padding: 0;
			}
			@media (max-width: 768px) {
				padding: 0 10px 0 0;
			}
		}
	}
}

/////////////////////  С A T E G O R I E S  ///////////////

.categories {
	height: 100%;
	padding: 107px 0 99px 0;
	margin: 0 10px;
	@media (max-width: 768px) {
		padding: 50px 0 50px 0;
	}
	@media (max-width: 420px) {
		margin: 38px 0 59px 0;
		padding: 0 20px;
	}
	&__title {
		margin: 0 0 70px 0;
		text-align: center;
		font-size: 30px;
		font-weight: 900;
		letter-spacing: 0.01em;
		color: #191919;
		@media (max-width: 768px) {
			font-size: 25px;
			margin: 0 0 50px 0;
		}
		@media (max-width: 420px) {
			margin: 0 0 30px 0;
		}
	}
	&__slider {
		position: relative;
		text-align: center;
	}
	&__slide {
		opacity: 0.4;
		transition: all 1.3s ease 0s;
		@media (max-width: 630px) {
			opacity: 1;
		}
	}
	&__wrap {
		display: flex;
		justify-content: center;
	}
	&__image {
		flex: 0 0 250px;
		height: 260px;
		transition: all 0.3s ease 0s;
		&:hover {
			flex: 0 0 280px;
			@media (max-width: 768px) {
				flex: 0 0 160px;
			}
		}
		& img {
			max-width: 100%;
		}
		@media (max-width: 1000px) {
			flex: 0 0 200px;
			height: 200px;
		}
		@media (max-width: 768px) {
			flex: 0 0 160px;
			height: 155px;
		}
		@media (max-width: 420px) {
			height: 140px;
		}
	}
	&__name {
		margin: 50px 0 0 0;
		font-size: 20px;
		font-weight: 900;
		letter-spacing: 0.01em;
		& a {
			color: #191919;
		}
		@media (max-width: 768px) {
			font-size: 16px;
		}
	}
	.slick-center {
		opacity: 1;
	}
	.slick-arrow {
		position: absolute;
		top: 50%;
		margin: -20px 0 0 0;
		z-index: 10;
		font-size: 0;
		width: 12px;
		height: 20px;
	}
	.slick-arrow.slick-prev {
		left: 0;
		background: url(../img/Categories/arrow_l.png) 0 0 / 100% no-repeat;
	}
	.slick-arrow.slick-next {
		right: 0;
		background: url(../img/Categories/arrow_r.png) 0 0 / 100% no-repeat;
	}
}

//////////////////////////  С A L L  /////////////////////////////

.call {
	height: 100%;
	background: url(../img/call/fon.png) 0 0 / cover no-repeat;
	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		transition: all 0.8s ease 0.2s;
		transform: translate(0px, -120%);
		opacity: 0;
		margin: 95px 5px 0 5px;
		@include adaptiv-font(30, 26);
		font-weight: 900;
		letter-spacing: 0.01em;
		color: #ffffff;
		text-align: center;
		@media (max-width: 768px) {
			margin: 65px 0 0 0;
			line-height: 40px;
			max-width: 600px;
		}
		@media (max-width: 400px) {
			line-height: 35px;
			margin: 45px 0 0 0;
			max-width: 350px;
		}
	}
	&__title._active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
	&__body {
		margin: 58px 0 0 0;
		@media (max-width: 400px) {
			margin: 35px 0 0 0;
		}
	}
	&__box {
		display: flex;
		justify-content: center;

		flex-wrap: wrap;
		margin: 0 33px;
	}
	&__column {
		flex: 0 1 20%;
		text-align: center;
		padding: 10px 33px;
		@media (max-width: 768px) {
			padding: 20px 33px;
		}
	}
	&__item {
		transition: all 0.8s ease 0.4s;
		transform: scale(0);
		flex: 1 1 auto;
	}
	&__item._active {
		transform: scale(1);
	}
	&__text {
		transition: all 0.8s ease 0.6s;
		transform: translate(0px, 50%);
		opacity: 0;
		padding: 20px 0 0 0;
		@include adaptiv-font(16, 15);
		line-height: 24px;
		font-weight: 700;
		letter-spacing: 0.02em;
		color: #ffffff;
	}
	&__text._active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
	&__button {
		transition: all 2s ease 0.8s;
		opacity: 0;
		margin: 46px 0 0 0;
		padding: 0 0 89px 0;
		@media (max-width: 768px) {
			padding: 0 0 59px 0;
		}
		@media (max-width: 400px) {
			padding: 0 0 49px 0;
		}
	}
	&__button._active {
		opacity: 1;
	}
}

//=============  T A B  ===============//

.tab {
	height: 100%;
	margin: 99px 0 0 0;
	@media (max-width: 768px) {
		margin: 79px 0 0 0;
	}
	@media (max-width: 480px) {
		margin: 59px 0 0 0;
	}
	@media (max-width: 400px) {
		margin: 39px 0 0 0;
	}
	&__wrap {
		display: flex;
		justify-content: space-between;
		margin: 0 0 0 10px;
		@media (max-width: 768px) {
			margin: 0;
		}
	}
	&__tabs {
		margin: 0 50px 0 0;
		@media (max-width: 768px) {
			margin: 0;
		}
	}
	&__title {
		max-width: 390px;
		font-size: 30px;
		line-height: 40px;
		font-weight: 900;
		letter-spacing: 0.01em;
		color: #191919;
		@media (max-width: 480px) {
			text-align: center;
			margin: 0 auto;
		}
		@media (max-width: 400px) {
			font-size: 24px;
			line-height: 33px;
		}
	}
	&__wrapper {
		margin: 60px 0 0 0;
		position: relative;
		@media (max-width: 480px) {
			margin: 40px 0 0 0;
			text-align: center;
		}
	}
	&__input {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
	}
	&__label {
		margin: 0 50px;
		font-size: 18px;
		line-height: 25px;
		font-weight: 700;
		letter-spacing: 0.015em;
		color: #777777;
		transition: all 0.3s ease 0s;
		cursor: pointer;
		@media (max-width: 800px) {
			margin: 0 30px;
		}
		@media (max-width: 360px) {
			margin: 0 10px;
			font-size: 16px;
		}
		@media (max-width: 290px) {
			margin: 0 5px;
			font-size: 15px;
		}
		&:hover {
			color: #000;
		}
		&_1 {
			margin: 0;
		}
		&_3 {
			margin: 0;
		}
	}
	&__content {
		display: none;
		margin: 40px 0 0 0;
		max-width: 531px;
		font-size: 15px;
		line-height: 21px;
		letter-spacing: 0.01em;
		color: #191919;
		@media (max-width: 480px) {
			margin: 30px 0 0 0;
			padding: 0 5px;
		}
		@media (max-width: 360px) {
			margin: 20px 0 0 0;
			font-size: 14px;
		}
		& p {
			padding: 30px 0 0 0;
			@media (max-width: 360px) {
				padding: 20px 0 0 0;
			}
			&:first-child {
				padding: 0;
			}
		}
	}
	&__image {
		display: flex;
		margin: 0 0 0 50px;
		@media (max-width: 768px) {
			display: none;
		}
	}
	&__box {
		flex: 0 0 400px;
		@media (max-width: 1200px) {
			flex: 0 0 350px;
		}
		@media (max-width: 980px) {
			flex: 0 0 300px;
		}
		@media (max-width: 840px) {
			flex: 0 0 250px;
		}
		& img {
			max-width: 100%;
		}
	}
}

#tab-1:checked ~ .tab__label_1 {
	color: #000;
	position: relative;
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 2px;
		position: absolute;
		top: 25px;
		left: 0;
		background-color: #ffff00;
		@media (max-width: 360px) {
			top: 20px;
		}
	}
}
#tab-1:checked ~ .tab__content_1 {
	display: block;
}

#tab-2:checked ~ .tab__label_2 {
	color: #000;
	position: relative;
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 2px;
		position: absolute;
		top: 25px;
		left: 0;
		background-color: #ffff00;
		@media (max-width: 360px) {
			top: 20px;
		}
	}
}
#tab-2:checked ~ .tab__content_2 {
	display: block;
}

#tab-3:checked ~ .tab__label_3 {
	color: #000;
	position: relative;
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 2px;
		position: absolute;
		top: 25px;
		left: 0;
		background-color: #ffff00;
		@media (max-width: 360px) {
			top: 20px;
		}
	}
}
#tab-3:checked ~ .tab__content_3 {
	display: block;
}

//=============  P A R T N E R S  ===============//

.partners {
	height: 100%;
	text-align: center;
	margin: 101px 0 0 0;
	@media (max-width: 768px) {
		margin: 81px 0 0 0;
	}
	@media (max-width: 768px) {
		margin: 51px 0 0 0;
	}
	&__title {
		transition: all 0.8s ease 0.2s;
		transform: translate(0px, 120%);
		opacity: 0;
		font-size: 30px;
		font-weight: 900;
		letter-spacing: 0.01em;
		color: #191919;
		text-align: center;
		@media (max-width: 400px) {
			font-size: 24px;
		}
	}
	&__title._active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
	&__subtitle {
		transition: all 0.8s ease 0.3s;
		transform: translate(0px, 120%);
		opacity: 0;
		padding: 50px 0 35px 0;
		max-width: 371px;
		font-size: 16px;
		line-height: 23px;
		letter-spacing: 0.01em;
		color: #191919;
		margin: 0 auto;
		text-align: center;
		@media (max-width: 768px) {
			padding: 30px 0 25px 0;
		}
		@media (max-width: 400px) {
			padding: 20px 0 25px 0;
		}
	}
	&__subtitle._active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
	&__wrap {
		margin: 0 -15px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	&__card {
		transition: all 0.8s ease 0.4s;
		transform: scale(0);
		flex: 0 1 33.333%;
		padding: 0 15px;
		margin: 15px 0 15px 0;
		@media (max-width: 1000px) {
			flex: 0 1 50%;
		}
		@media (max-width: 650px) {
			flex: 0 1 100%;
			margin: 5px 0 5px 0;
		}
	}
	&__card._active {
		transform: scale(1);
	}
	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__image {
		flex: 0 0 150px;
		transition: all 0.5s ease 0s;
		&:hover {
			transform: scale(1.1);
		}
		@media (max-width: 1070px) {
			flex: 0 0 130px;
		}
		& img {
			max-width: 100%;
		}
	}
	&__content {
		margin: 0 0 0 26px;
		@media (max-width: 400px) {
			margin: 0 0 0 20px;
		}
	}
	&__label {
		max-width: 150px;
		margin: 0 0 24px 0;
		font-size: 18px;
		line-height: 23px;
		font-weight: 900;
		letter-spacing: 0.01em;
		color: #191919;
		text-align: center;
		transition: all 0.3s ease 0s;
		&:hover {
			text-decoration: underline;
		}
		@media (max-width: 400px) {
			font-size: 15px;
			max-width: 130px;
			margin: 0 0 18px 0;
		}
	}
	&__number {
		white-space: nowrap;
		font-size: 18px;
		letter-spacing: 0.01em;
		color: #191919;
		display: block;
		transition: all 0.5s ease 0s;

		&:hover {
			transform: scale(1.1);
		}
		@media (max-width: 400px) {
			font-size: 15px;
		}
	}
	&__links {
		margin: 24px 0 0 0;
		@media (max-width: 400px) {
			margin: 18px 0 0 0;
		}
	}
	&__link {
		padding: 0 6px;
		display: inline-block;
		transition: all 0.5s ease 0s;
		&:hover {
			transform: rotate(360deg);
			opacity: 0.4;
		}
		@media (max-width: 400px) {
			padding: 0 4px;
		}
	}
}

//================  F O R M  =================//

.form {
	flex: 1 1 auto;
	margin: 97px 0 0 0;
	height: 100%;
	@media (max-width: 768px) {
		margin: 77px 0 0 0;
	}
	&__title {
		padding: 96px 0 0 0;
		text-align: center;
		font-size: 30px;
		font-weight: 900;
		letter-spacing: 0.01em;
		color: #191919;
		@media (max-width: 480px) {
			font-size: 24px;
			padding: 66px 0 0 0;
		}
		@media (max-width: 320px) {
			padding: 56px 0 0 0;
		}
	}
	&__subtitle {
		padding: 65px 0 0 0;
		width: 310px;
		margin: 0 auto;
		text-align: center;
		font-size: 18px;
		line-height: 21px;
		font-weight: 900;
		letter-spacing: 0.01em;
		color: #191919;
		@media (max-width: 768px) {
			padding: 45px 0 0 0;
		}
		@media (max-width: 480px) {
			padding: 35px 0 0 0;
			font-size: 16px;
		}
	}
	&__form {
		max-width: 740px;
		margin: 48px auto;
		@media (max-width: 768px) {
			max-width: 351px;
			margin: 0 auto;
			padding: 48px 0 0 0;
		}
		@media (max-width: 390px) {
			max-width: 251px;
			padding: 28px 0 0 0;
		}
	}
	&__name {
		margin: 0 15px 0 0;
		width: 350px;
		height: 50px;
		opacity: 0.54;
		font-size: 14px;
		letter-spacing: 0.015em;
		color: #191919;
		box-shadow: 0px 1px 0px 0px #191919;
		background-color: #f5eeff;
		@media (max-width: 768px) {
			display: block;
			width: 100%;
			margin: 0;
		}
	}
	&__phone {
		margin: 0 0 0 15px;
		width: 350px;
		height: 50px;
		opacity: 0.54;
		font-size: 14px;
		letter-spacing: 0.015em;
		color: #191919;
		box-shadow: 0px 1px 0px 0px #191919;
		background-color: #f5eeff;
		@media (max-width: 768px) {
			display: block;
			width: 100%;
			margin: 0;
		}
	}
	&__message {
		display: block;
		padding: 20px 0 0 0;
		margin: 0 15px 0 0;
		width: 100%;
		height: 62px;
		opacity: 0.54;
		font-size: 14px;
		letter-spacing: 0.015em;
		color: #191919;
		box-shadow: 0px 1px 0px 0px #191919;
		background-color: #f5eeff;
	}
	&__button {
		margin: 25px 0 97px 0;
		width: 100%;
		height: 44px;
		border-radius: 3px;
		background-color: #fcef48;
		text-align: center;
		@include adaptiv-font(17, 15);
		line-height: 47px;
		font-weight: 900;
		letter-spacing: 0.01em;
		color: #202020;
		transition: all 0.5s ease 0s;
		&:hover {
			transform: scale(0.95);
		}
		@media (max-width: 480px) {
			margin: 25px 0 57px 0;
		}
		@media (max-width: 390px) {
			margin: 25px 0 57px 0;
		}
	}
}
.container-2 {
	max-width: 1110px;
	margin: 0 auto;
	background-color: #f5eeff;
	border-radius: 7px;
}

//===================  F O O T E R   ====================//

.footer {
	height: 100%;
	background-color: #191919;
	&__wrapper {
		padding: 63px 0 73px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 768px) {
			padding: 33px 0 43px 0;
		}
		@media (max-width: 712px) {
			flex-direction: column;
			padding: 46px 0 46px 0;
		}
	}
	&__column {
		transition: all 0.8s ease 0.2s;
		transform: scale(0);
		flex: 0 1 20%;
		display: flex;
		justify-content: center;
		@media (max-width: 940px) {
			flex: 0 1 25%;
		}
		&_2 {
			transition: all 0.8s ease 0.4s;
			@media (max-width: 712px) {
				margin: 0 0 20px 0;
			}
		}
		&_3 {
			transition: all 0.8s ease 0.6s;
		}
		&_4 {
			transition: all 0.8s ease 0.8s;
			margin: 0 0 0 25px;
			text-align: left;
			@media (max-width: 712px) {
				max-width: 177px;
				text-align: center;
				margin: 20px 0 0 0;
			}
		}
		&_5 {
			transition: all 0.8s ease 1s;
			@media (max-width: 940px) {
				display: none;
			}
		}
	}
	&__column._active {
		transform: scale(1);
	}
	&__logo {
		flex: 0 1 150px;
		@media (max-width: 1000px) {
			flex: 0 1 130px;
		}
		@media (max-width: 768px) {
			flex: 0 1 115px;
		}
		@media (max-width: 712px) {
			flex: 0 1 125px;
			margin: 0 0 25px 0;
		}
		& img {
			max-width: 100%;
		}
	}
	&__box {
	}
	&__title {
		padding: 0 0 30px 0;
		font-size: 16px;
		line-height: 21px;
		font-weight: 900;
		letter-spacing: 0.01em;
		color: #ffffff;
		text-align: center;
		&_2 {
			margin: -31px 0 0 0;
			@media (max-width: 712px) {
				margin: 0;
			}
		}
		&_3 {
			margin: -11px 0 0 0;
			@media (max-width: 1080px) {
				margin: -11px 0 0 0;
			}
			@media (max-width: 940px) {
				margin: -31px 0 0 0;
			}
			@media (max-width: 913px) {
				margin: -15px 0 0 0;
			}
			@media (max-width: 712px) {
				margin: 0 0 10px 0;
			}
		}
		@media (max-width: 768px) {
			padding: 0 0 20px 0;
		}
		@media (max-width: 712px) {
			padding: 0 0 10px 0;
		}
	}
	&__body {
		font-size: 16px;
		line-height: 23px;
		font-weight: 400;
		letter-spacing: 0.01em;
		color: #ffffff;
		& p {
			&:first-child {
				padding: 0 0 5px 0;
				@media (max-width: 712px) {
					padding: 0;
				}
			}
			&:last-child {
				padding: 13px 0 0 0;
				@media (max-width: 712px) {
					padding: 0;
				}
			}
		}
		&_4 {
			display: flex;
			justify-content: space-between;
		}
	}
	&__phone {
		background: url(../img/footer/phone.png) left no-repeat;
		margin: 0 0 8px 0;
		padding: 0 0 0 23px;
		display: block;
		font-size: 16px;
		line-height: 21px;
		letter-spacing: 0.01em;
		color: #ffffff;
		transition: all 0.5s ease 0s;
		&:hover {
			transform: scale(1.1);
		}
		@media (max-width: 712px) {
			margin: 0 0 7px 0;
		}
	}
	&__mail {
		background: url(../img/footer/mail.png) left no-repeat;
		display: block;
		padding: 0 0 0 26px;
		font-size: 16px;
		line-height: 21px;
		letter-spacing: 0.01em;
		color: #ffffff;
		transition: all 0.5s ease 0s;
		&:hover {
			transform: scale(1.1);
		}
	}
	&__link {
		flex: 0 1 30px;
		transition: all 0.5s ease 0s;
		&:hover {
			opacity: 0.4;
			transform: rotate(360deg);
		}
		@media (max-width: 1000px) {
			flex: 0 1 25px;
		}
		@media (max-width: 768px) {
			flex: 0 1 23px;
		}
		@media (max-width: 480px) {
			flex: 0 1 25.5px;
		}
		& img {
			max-width: 100%;
		}
	}
	&__arrow {
		animation-name: arrow;
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
	@keyframes arrow {
		0% {
			margin: 10px 0 0 0;
		}
		100% {
			margin: -10px 0 0 0;
		}
	}
}
.container-3 {
	max-width: 1087px;
	margin: 0 auto;
	padding: 0 10px;
	@media (max-width: 940px) {
		padding: 0 30px 0 0;
	}
	@media (max-width: 712px) {
		padding: 0;
	}
}

//===============  B R E A D С R U M B S  =================//
.breadcrumbs {
	margin: 160px 0 0 0;
	@media (max-width: 910px) {
		margin: 120px 0 0 0;
	}
	@media (max-width: 768px) {
		margin: 100px 0 0 0;
	}
	&__list {
		display: flex;
		align-items: center;
		li {
			margin: 0 6px 0 0;
		}
	}
	&__link {
		font-size: 15px;
		letter-spacing: 0.01em;
		color: #8a8a8a;
		@media (max-width: 350px) {
			font-size: 13px;
		}
		&:after {
			content: "";
			margin: 0 0 0 3px;
			display: inline-block;
			height: 13px;
			width: 1.5px;
			background-color: #8a8a8a;
			transform: rotate(20deg);
		}
	}
	&__item {
		font-size: 15px;
		letter-spacing: 0.01em;
		color: #d1d1d1;
		@media (max-width: 350px) {
			font-size: 13px;
		}
	}
}

//===============  I N S T R U M E N T S  =================//

.instruments {
	height: 100%;
	margin: 89px 0 89px 0;
	@media (max-width: 768px) {
		margin: 49px 0 49px 0;
	}
	@media (max-width: 480px) {
		margin: 49px 0 49px 0;
	}
	&__title {
		text-align: center;
		font-size: 30px;
		font-weight: 900;
		letter-spacing: 0.01em;
		color: #202020;
		@media (max-width: 480px) {
			font-size: 26px;
			line-height: 34px;
		}
		@media (max-width: 350px) {
			font-size: 22px;
			line-height: 30px;
		}
		&_questions {
			line-height: 40px;
			@media (max-width: 768px) {
				line-height: 38px;
			}
			@media (max-width: 480px) {
				line-height: 34px;
			}
			@media (max-width: 320px) {
				line-height: 28px;
			}
		}
	}
	&__wrapper {
		padding: 20px 0 0 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -15px;
		@media (max-width: 500px) {
			padding: 10px 0 0 0;
		}
	}
	&__column {
		flex: 0 1 25%;
		padding: 0 15px;
		margin: 50px 0 0 0;
		@media (max-width: 1000px) {
			flex: 0 1 33.333%;
		}
		@media (max-width: 700px) {
			flex: 0 1 50%;
			margin: 30px 0 0 0;
		}
		@media (max-width: 500px) {
			flex: 0 1 100%;
			margin: 70px 0 0 0;
		}
	}
	&__card {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__photo {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: 500px) {
			flex: 0 1 auto;
		}
	}
	&__image {
		flex: 0 1 260px;
		@media (max-width: 1000px) {
			flex: 0 1 200px;
		}
		@media (max-width: 500px) {
			flex: 0 1 250px;
		}
		& img {
			max-width: 100%;
		}
	}
	&__content {
		margin: 15px 0 0 0;
		height: 165px;
		display: flex;
		flex-direction: column;
		text-align: center;
		@media (max-width: 500px) {
			height: 100%;
		}
	}
	&__logo {
		flex: 1 1 auto;
		font-size: 18px;
		line-height: 20px;
		font-weight: 700;
		letter-spacing: 0.01em;
		color: #202020;
		@media (max-width: 500px) {
			flex: 0 1 auto;
		}
	}
	&__specification {
		flex: 1 1 auto;
		margin: 7px 0 0 0;
		opacity: 0.45;
		font-family: Montserrat;
		font-size: 12px;
		line-height: 18px;
		letter-spacing: 0.025em;
		color: #202020;
		@media (max-width: 500px) {
			flex: 0 1 auto;
		}
	}
	&__cost {
		margin: 18px auto;
		padding: 6px 0;
		width: 96px;
		height: 31px;
		background-color: #fcef48;
		border-radius: 15px;
		font-size: 16px;
		line-height: 18px;
		font-weight: 700;
		letter-spacing: 0.01em;
		color: #202020;
		@media (max-width: 500px) {
			padding: 7px 0;
		}
	}
	&__button {
		width: 149px;
		margin: 70px auto;
		@media (max-width: 480px) {
			margin: 50px auto;
		}
		@media (max-width: 420px) {
			width: 120px;
			margin: 50px auto;
		}
		&:active {
			margin: 70px auto;
			@media (max-width: 480px) {
				margin: 50px auto;
			}
			@media (max-width: 420px) {
				margin: 30px auto;
			}
		}
	}
}
.container-5 {
	max-width: 1120px;
	margin: 0 auto;
	padding: 0 10px;
}

//======================== A С С O R D I O N ======================//

.accordion {
	max-width: 819px;
	margin: 51px auto;
	padding: 0 20px;
	&_tab {
		padding: 0;
	}
	@media (max-width: 480px) {
		margin: 31px auto;
	}
}
.accordion-item {
	margin: 40px 0 0 0;
	&__input {
		position: absolute;
		top: 50;
		left: 0;
		opacity: 0;
	}
	&__trigger {
		display: block;
		background: url(../img/accordion/01.png) right no-repeat;
		padding: 0 35px 0 0;
		font-size: 17px;
		line-height: 24px;
		font-weight: 700;
		letter-spacing: 0.01em;
		color: #202020;
		cursor: pointer;
		&_tab {
			@media (max-width: 480px) {
				text-align: left;
			}
		}
		@media (max-width: 480px) {
			font-size: 16px;
			line-height: 22px;
		}
	}
	&__line {
		display: none;
		margin: 28px 0 0 0;
		width: 85%;
		height: 0.5px;
		background-color: #fcef48;
		@media (max-width: 480px) {
			margin: 24px 0 0 0;
		}
		&_tab {
			@media (max-width: 480px) {
				width: 100%;
			}
		}
	}
	&__content {
		margin: 10px 0 0 0;
		font-size: 15px;
		line-height: 21px;
		letter-spacing: 0.01em;
		color: #191919;
		display: none;
		@media (max-width: 480px) {
			font-size: 14px;
		}
		& p {
			margin: 10px 0 0 0;
			max-width: 450px;
		}
	}
}

.accordion-item__input:checked ~ .accordion-item__trigger {
	background: url(../img/accordion/02.png) right no-repeat;
}
.accordion-item__input:checked ~ .accordion-item__line {
	display: block;
}
.accordion-item__input:checked ~ .accordion-item__content {
	display: block;
}
